*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Bdy{
    overflow: hidden;
    background: rgba(0 0 0/.2);
}
.blur{
    background: rgba(0 0 0/.8);
    /* z-index: 10; */
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
li{
    list-style-type: none;
}
.container{
    width: 94%;
    margin: auto;
}
.Header{
    position: relative;
    box-shadow: 0 0 10px -4px;
}
.Header .Full-Header h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: .7;
    padding: 20px 0px 20px 0px;
}
.Header .Full-Header{
    display: flex;
    justify-content:space-between;
}
.Header .Full-Header .Right-Header{
    /* width: 65%; */
}
.Header .Full-Header .Right-Header > ul{
    position: absolute;
    width: 100%;
    background:rgb(223, 248, 255);
    left: 0;
    top: 90px;
    box-shadow: 0 0 40px -30px;
    display: none;
}
.Header .Full-Header .Right-Header > ul > li{
    line-height: 50px;
    font-size: 1.2rem;
    padding-left: 15px;
}
.Header .Full-Header .Right-Header > ul > li i{
   font-size: 18px;
}
.Header .Full-Header .Right-Header > ul > li a{
   color: black;
   opacity: .8;
}
.Header .Full-Header .Right-Header button{
    background: orange;
    border-radius: 7px;
    border: none;
    opacity: 0;
    
}
.Header .Full-Header .Right-Header div{
    font-size: 40px;
    padding: 14px 0 10px 0px;
    opacity: .4;
}
/* DROPDOWN */
.Header .Full-Header .Right-Header > ul > li:nth-child(5){
    position: relative;
}
.Header .Full-Header .Right-Header > ul > li:nth-child(5) ul{
    position: absolute;
    top: -50px;
    left: 30%;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: -10;
    box-shadow: 0 0 10px -5px;
}
/* LI Hover  */
.Header .Full-Header .Right-Header > ul > li:hover > a{
    color:orangered;
}
.Header .Full-Header .Right-Header > ul > li:nth-child(5):hover ul{
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}
.Header .Full-Header .Right-Header > ul > li:nth-child(5):hover ul li:hover a{
    color:orangered;
}
.Header .Full-Header .Right-Header > ul > li:nth-child(5) ul{
    background-color: aliceblue;
    padding: 0 40px 0 40px;
    box-shadow: 0 0 50px -40px;
}




/* BANNER */
.Hero{
    background: #fef8f5;
}
.Hero .flex-hero{
    display: flex;
    flex-flow: column-reverse;
}
.Hero .flex-hero > div{
   width: 100%;
}
.Hero .flex-hero .hero-img div{
    width: 80%;
    margin:auto;
    padding-top: 46px;
}
.Hero .flex-hero .hero-img img{
    width: 100%;
}.Hero .flex-hero .hero-cont{
    padding-top: 30px;
    padding-bottom: 50px;
}
.Hero .flex-hero .hero-cont h2{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: .9;
}
.Hero .flex-hero .hero-cont p{
    font-size: 1.4rem;
    margin:23px 0 23px 0;
    opacity: .6;
}
.Hero .flex-hero .hero-cont button{
    font-size: 1.2rem;
    color: white;
    padding: 9px 34px 9px 34px;
    background-color: orangered;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* About */
.about .fl-about > div{
    width: 100%;
}
.about .fl-about{
    padding: 50px 0 40px 0;
}
.about .fl-about > .img-about{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.about .fl-about > .img-about img{
    width: 90%;
} 
.about .fl-about .cont-about .cont-about-first h3{
    font-size: 2.2rem;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .7;
    padding-top: 25px;
}
.about .fl-about .cont-about .cont-about-first p{
    font-size: 1rem;
    margin:23px 0 23px 0;
    opacity: .6;
}
.about .fl-about .cont-about .cont-about-second img{
    width: 60px;
}
.about .fl-about .cont-about .cont-about-second h4{
    font-size: 1.6rem;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    padding-bottom: 15px;
}
.about .fl-about .cont-about .cont-about-second p{
        font-size: 1rem;
        opacity: .6;
        margin-bottom: 30px;
}
.about .fl-about .cont-about .cont-about-third p{
    font-size: 1rem;
    opacity: .6;
}
.about .fl-about .cont-about .cont-about-third i{
    font-size: 60px;
    color:orange;
}
.about .fl-about .cont-about .cont-about-third h4{
    font-size: 1.6rem;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    padding-bottom: 15px;
}
.service{
    background: #fef8f5;
}
.service .sec-title{
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fef8f5;

}
.service .sec-title h4{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-bottom: 20px;
}
.service .sec-title h2{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .8;
}
.service .sec-title div{
   width: 55px;
   height: 2.3px;
   background: orangered;
}
.service .sec-row > div{
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    margin-bottom: 25px;
    box-shadow: 0 0 20px -16px;
    border-radius: 7px;
}
.service .sec-row > div i{
    color: orangered;
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.service .sec-row > div h4{
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .7;
}
.service .sec-row > div p{
  font-size: 1.1rem;
  padding-bottom: 30px;
  opacity: .8;
  width: 90%;
}
.portfolio .sec-title h2{
    width: 70%;
}
.portfolio .port-port{
   text-align: center;
   padding-bottom: 30px;
}
.portfolio .port-port span{
  font-size: 1.1rem;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* PORT  Image*/
.port-first{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.port-first > img{
    width: 100%;
}
.port-first .port-bgg .ico{
    display: flex;
    justify-content: center;
    
}
.port-first .port-bgg a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    color:orangered;
    border-radius: 50%;
    margin-left: 10px;
  align-self: flex-end;
  transform: translateY(-17px);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.port-first .port-bgg h4{
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: white;
    vertical-align: text-bottom;
    margin-top: 10%;
    margin-bottom: 13px;
}
.port-first .port-bgg h5{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: white;
    
}
.port-first .port-bgg > div{
    height: 50%;
}
.port-first .port-bgg .content{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    transform: translateY(17px);
    transition:0.4s;
    opacity: 0;
}
.port-first .port-bgg{
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* opacity: 0; */
}
.port-first .port-bg{
    display: flex;
    flex-flow: column;
    position: absolute;
    background: rgba(0 0 0/.4);
    width: 100%;
    height: 99%;
    top: 0;
    transform:translateX(100%);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
/* PORT HOVER  */
.port-first:hover .port-bg{
    opacity: 1;
    transition: all 0.4s ease-in-out;
    transform: translateY(0);
}
.port-first:hover .port-bgg .content{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}
.port-first:hover .port-bgg .ico a{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}
.port-first:hover .port-bgg .ico a:hover{
    background-color: orangered;
    color: #fef8f5;
    transition: .1s;
}
.port-first:nth-child(2){
    margin-top: 20px;
}
.port-first:nth-child(3){
    margin-top: 20px;
}
.port-first{
    border-radius: 10px;
}
.port-full{
    padding-bottom: 60px;
}
.h{
    margin-top: 20px;
}
.m{
    margin-top: 20px;
}
.faq{
    background: #fef8f5;
    padding-bottom: 50px;
}
.faq .faq-title{
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fef8f5;

}
.faq .faq-title h4{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-bottom: 20px;
}
.faq .faq-title h2{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .8;
}
.faq .faq-title div{
   width: 55px;
   height: 2.3px;
   background: orangered;
}
.faq details summary{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    list-style-type: none;
    opacity: .7;
}
.faq details summary i{
    font-size: 16px;
    padding-right: 20px;
}
.faq details p{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
}
.faqD{
    border-bottom: solid 1px rgb(194, 194, 194);
    margin-bottom: 25px;
}
.faq details:hover summary{
    color: orangered;
}

.team .team-title{
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.team .team-title h4{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-bottom: 20px;
}
.team .team-title h2{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .8;
}
.team .team-title div{
   width: 55px;
   height: 2.3px;
   background: orangered;
}

.team .team-full > div{
    width: 98%;
    overflow: hidden;
}
.team .team-full > div img{
    width:100%;
    height:80%;
}
.team .team-full > div{
    position: relative;
}
.team .team-full > div .team-ico{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    display: flex;
    flex-flow: column;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
   
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    
}
.team .team-full > div .team-ico i{
    display: block;
    font-size: 23px;
    
    color: white;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}
.team .team-full > div .team-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* left: 35%; */
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
}
.team .team-full > div:hover .team-cont{
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
}
.team .team-full > div:hover .team-ico{
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    background:linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
}
.team .team-full >div{
    
    border-radius: 10px;
    margin-top: 15px;/* background:linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%); */
}
.team .team-full{
    padding-bottom: 60px;
}
.team .team-full > div .team-cont h2{
    /* vertical-align: bottom; */
    margin-top: 150px;
}
.client{
    background: #fef8f5;
    padding-bottom: 40px;
}
.client .client-title{
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.client .client-title h4{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-bottom: 20px;
}
.client .client-title h2{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .8;
}
.client .client-title div{
   width: 55px;
   height: 2.3px;
   background: orangered;
}
.client .client-flex{
    display: flex;
    flex-wrap: wrap;
}
.client .client-flex > div{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.client .client-flex > div img{
    width: 70%;
    opacity: .6;
    transition: .5s;
}
.client .client-flex .d3{
    display: none;
}
.client .client-radio{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.client .client-radio input{
    margin-left: 20px;
}
.client .client-flex > div img:hover{
    opacity: 1;
    transform: scale(1.3);
    transition: .5s;
}
.contact .contact-title{
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.contact .contact-title h4{
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-bottom: 20px;
}
.contact .contact-title h2{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    opacity: .8;
}
.contact .contact-title div{
   width: 55px;
   height: 2.3px;
   background: orangered;
}
.contact .contact-flex{
    /* display: flex; */
}
.contact .contact-flex > .flex-1{
    width: 100%;
    box-shadow: 0 0 30px -20px;
}
.contact .contact-flex > .flex-2{
    box-shadow: 0 0 30px -15px;
    border-bottom: solid 3px orangered;
    border-top: solid 3px orangered;
    margin-top: 20px;
}
.contact .contact-flex .flex-1{
    border-bottom: solid 3px orangered;
    border-top: solid 3px orangered;
}
.contact .contact-flex .flex-1 > div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding-top: 20px;
}
.contact .contact-flex .flex-1 > div a i{
    font-size: 26px;
}
.contact .contact-flex .flex-1 > div a:hover{
    background-color: orangered;
    color: white;
    transition: .5s;
}
.contact .contact-flex .flex-1 > div a{
    width: 11%;
    height: 50px;
    background: #fef8f5;
    color: orangered;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}
.contact .contact-flex .flex-1 > div span{
    width: 70%;
}
.contact .contact-flex .flex-1 > div span h2{
    opacity: .7;
    font-size: 2.1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
.contact .contact-flex .flex-1 > div span p{
    opacity: .6;
}
.contact .contact-flex .flex-1 > div iframe{
    padding-bottom: 35px;
}
.contact .contact-flex .flex-2 form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 30px;
}
.contact .contact-flex .flex-2 form input{
    width: 90%;
    margin-left: 5%;
    height: 40px;
    padding-left: 10px;
}
.contact .contact-flex .flex-2 form .wow label:nth-child(1){
    margin-left: 9%;
}
.contact .contact-flex .flex-2 form label{
    margin-top: 25px;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .6;
    margin-left: 5%;
}
.contact .contact-flex .flex-2 form textarea{
    width: 90%;
    margin-left: 5%;
    padding-left: 10px;
}
.contact .contact-flex .flex-2 form div button{
    background: orangered;
    border-radius: 6px;
    color: white;
    border: none;
    padding: .7rem 1.7rem .7rem 1.7rem;
}
.contact .contact-flex .flex-2 form .c-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contact .contact-flex .flex-2 form .form1{
    margin-top: 20px;
}
.contact .contact-flex .flex-2 form input{
    height: 45px;
    border: solid 1px rgb(219, 219, 219);
}
.contact .contact-flex .flex-2 form textarea{
    border: solid 1px rgb(219, 219, 219);
    height: 200px;
}
.contact{
    padding-bottom: 40px;
}
.join{
    background: #fef8f5;
}
.join .flex-join .join-1{
    display: flex;
    flex-flow: column;
    text-align: center;
}
.join .flex-join .join-1 h3{
   font-size: 1.7rem;
   opacity: .7;
   margin-bottom: 15px;
}
.join .flex-join .join-1 p{
    opacity: .6;
}
.join .flex-join .join-2 input{
    border: none;
    width: 70%;
}
.join .flex-join .join-2 button{
    width: 30%;
    background: orangered;
    border-radius: 5px;
    color: white;
    border: none;
    padding: .7rem 1.7rem .7rem 1.7rem;
    height: 100%;
}
.join .flex-join .join-2{
    margin-top: 20px;
    border: solid 1px rgb(214, 214, 214);
    height: 43px;
    display: flex;
    border-right: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px -7px;
    margin-bottom: 30px;
}

#footer{
	
	height:auto;
	background-color:white;
	box-shadow:0 4px 20px rgb(25 119 204 / 10%);
}
.footer-whole{
	width:97%;
	margin:auto;
	padding-top:25px;
	display:flex;
	flex-wrap:wrap;
}
.footer-whole ul li i{
	color: #1c84e3;
}
.footer-whole ul li a{
	color:black;
}
.footer-whole > .foot1{
	width:50%;
	margin-bottom:40px;
}
.footer-whole > .foot2{
	width:50%;
	margin-bottom:40px;
}
.footer-whole > .foot3{
	width:50%;
	margin-bottom:40px;
}
.footer-whole > .foot4{
	width:50%;
}
.footer-whole > div ul li,a{
	text-decoration:none;
}
.footer-whole > div ul li{
	text-decoration:none;
	list-style:none;
}
.footer-whole .foot1 h3{
	font-size:30px;
	font-family:"sans serief";
	margin-bottom:20px;
}
.footer-whole .foot1 > p{
	margin-bottom:25px;
	
}
.footer-whole .foot2 ul li{
	margin-top:20px;
	
	
}
.footer-whole .foot3 ul li{
	margin-top:20px;
	
	
}
.footer-whole .foot4 p{
	margin:20px 0px 20px 0px;
	line-height:23px;
}
.footer-whole .foot4 a{
	width:40px;
	height:40px;
	line-height:40px;
	justify-content:center;
	text-align:center;
	display:flex;
	align-items:center;
	
	
	background-color:#2a82dc;
	margin-left:10px;
	
}
.footer-whole .foot4 a i{
	font-size:20px;
	color:white;
}
.footer-whole .foot4 > div{
	display:flex;
}
.footer-whole .foot1 h3{
	font-family: sans-serif;
	font-weight:600;
}
.footer-whole .foot2 h3{
	font-size:20px;
	font-weight:600;
}
.footer-whole .foot3 h3{
	font-size:20px;
	font-weight:600;
}
.footer-whole .foot4 h3{
	font-size:20px;
	font-weight:600;
}
#footer{
	
	height:auto;
	background-color:white;
	box-shadow:0 4px 20px rgb(25 119 204 / 10%);
}
.footer-whole{
	width:97%;
	margin:auto;
	padding-top:25px;
}
.footer-whole ul li i{
	color: orangered;
}
.footer-whole ul li a{
	color:black;
}
.footer-whole > .foot1{
	width:100%;
	margin-bottom:40px;
}
.footer-whole > .foot2{
	width:100%;
	margin-bottom:40px;
}
.footer-whole > .foot3{
	width:100%;
	margin-bottom:40px;
}
.footer-whole > .foot4{
	width:100%;
}
.footer-whole > div ul li,a{
	text-decoration:none;
}
.footer-whole > div ul li{
	text-decoration:none;
	list-style:none;
}
.footer-whole .foot1 h3{
	font-size:30px;
	font-family:"sans serief";
	margin-bottom:20px;
}
.footer-whole .foot1 > p{
	margin-bottom:25px;
	
}
.footer-whole .foot2 ul li{
	margin-top:20px;
	
	
}
.footer-whole .foot3 ul li{
	margin-top:20px;
	
	
}
.footer-whole .foot4 p{
	margin:20px 0px 20px 0px;
	line-height:23px;
}

.footer-whole .foot4 a{
    width:35px;
    height:35px;
    line-height:35px;
    justify-content:center;
    text-align:center;
    display:flex;
    align-items:center;
    border-radius: 50%;
    
    background-color:orangered;
    margin-left:10px;
    
}
.footer-whole .foot4 a i{
	font-size:20px;
	color:white;
}
.footer-whole .foot4 > div{
	display:flex;
}
.footer-whole .foot1 h3{
	font-family: sans-serif;
	font-weight:600;
}
.footer-whole .foot2 h3{
	font-size:20px;
	font-weight:600;
}
.footer-whole .foot3 h3{
	font-size:20px;
	font-weight:600;
}
.footer-whole .foot4 h3{
	font-size:20px;
	font-weight:600;
}
.footer-whole li:hover a{
    color: orangered;
}
.footer-whole .foot4 {
    padding-bottom: 20px;
}
.footer-whole .foot4 a:hover{
    background-color: rgb(161, 159, 159);
}
.copy{
    background: #fef8f5;
}
.copy .flex-copy{
    padding: 20px 0px 20px 0px;
    text-align: center;
}



@media(min-width:650px){
    .container{
        width: 80%;
        margin: auto;
    }
    .Header .Full-Header .Right-Header > ul > li:nth-child(5) ul{
        left: 30%;
    }
    .Header .Full-Header .Right-Header > ul > li:nth-child(5) ul{
        background-color: aliceblue;
        padding: 0 40px 0 40px;
        box-shadow: 0 0 50px -40px;
    }
    .Hero .flex-hero .hero-cont h2{
        font-size: 2.4rem;
    }
    .Hero .flex-hero .hero-cont{
        padding-bottom: 70px;
    }
    .about .fl-about .cont-about .cont-about-first p{
        font-size: 1.2rem;
    }
    .about .fl-about .cont-about .cont-about-second p{
        font-size: 1.2rem;
        width: 95%;
    }
    .about .fl-about .cont-about .cont-about-third p{
        font-size: 1.2rem;
    }
    .about .fl-about .cont-about{
        display: flex;
      flex-wrap: wrap;
    }
    .about .fl-about > .img-about img{
        width: 70%;
    } 
    .about .fl-about .cont-about .cont-about-first {
        width: 100%;
    }
    
    .about .fl-about .cont-about .cont-about-second {
        width: 50%;
    }
    .about .fl-about .cont-about .cont-about-third {
        width: 50%;
    }
    .service .sec-row{
        display: flex;
        flex-wrap: wrap;
    }
    .service .sec-row > div{
        width: 47.6%;
    }
    .service .sec-row > div p{
        font-size: 1.25rem;
        opacity: .5;
    }
    .portfolio .port-full > div{
        width: 48%;
    }
    .portfolio .port-full{
        display: flex;
        flex-wrap: wrap;
        /* gap: .2%; */
    }
    .port-first:nth-child(2){
        margin-top: 0px;
        margin-left: 20px;
    }
    .m{
        margin-left: 20px;
        margin-top: 20px;
    }
    .h{
        margin-top: 20px;
    }
    .team .team-full{
        display: flex;
        flex-wrap: wrap;
    }
    .team .team-full > div{
        width: 48%;
        overflow: hidden;
    }
    .team .team-full > div img{
        width:100%;
        height:100%;
    }
    .team .team-full .team-s{
        margin-left: 15px;
    }
    .team .team-full .team-fo{
        margin-left: 15px;
    }
    .client .client-flex > div{
        width: 25%;
    }
    .client .client-flex .d4{
        display:block;
    }
    #footer{
	
        height:auto;
        background-color:white;
        box-shadow:0 4px 20px rgb(25 119 204 / 10%);
    }
    .footer-whole{
        width:97%;
        margin:auto;
        padding-top:25px;
        display:flex;
        flex-wrap:wrap;
    }
    .footer-whole ul li i{
        color: orangered;
        opacity: .7;
    }
    .footer-whole ul li a{
        color:black;
    }
    .footer-whole > .foot1{
        width:50%;
        margin-bottom:40px;
    }
    .footer-whole > .foot2{
        width:50%;
        margin-bottom:40px;
    }
    .footer-whole > .foot3{
        width:50%;
        margin-bottom:40px;
    }
    .footer-whole > .foot4{
        width:50%;
    }
    .footer-whole > div ul li,a{
        text-decoration:none;
    }
    .footer-whole > div ul li{
        text-decoration:none;
        list-style:none;
    }
    .footer-whole .foot1 h3{
        font-size:30px;
        font-family:"sans serief";
        margin-bottom:20px;
    }
    .footer-whole .foot1 > p{
        margin-bottom:25px;
        
    }
    .footer-whole .foot2 ul li{
        margin-top:20px;
        
        
    }
    .footer-whole .foot3 ul li{
        margin-top:20px;
        
        
    }
    .footer-whole .foot4 p{
        margin:20px 0px 20px 0px;
        line-height:23px;
    }
    .footer-whole .foot4 a{
        width:35px;
        height:35px;
        line-height:35px;
        justify-content:center;
        text-align:center;
        display:flex;
        align-items:center;
        border-radius: 50%;
        
        background-color:orangered;
        margin-left:10px;
        
    }
    .footer-whole .foot4 a i{
        font-size:20px;
        color:white;
    }
    .footer-whole .foot4 > div{
        display:flex;
    }
    .footer-whole .foot1 h3{
        font-family: sans-serif;
        font-weight:600;
    }
    .footer-whole .foot2 h3{
        font-size:20px;
        font-weight:600;
    }
    .footer-whole .foot3 h3{
        font-size:20px;
        font-weight:600;
    }
    .footer-whole .foot4 h3{
        font-size:20px;
        font-weight:600;
    }
    .copy .flex-copy{
        display: flex;
        text-align:start;
        justify-content: space-between;
    }

}
@media(min-width:1000px){
    .container{
        width: 85%;
        margin: auto;
    }
    .Header .Full-Header h1{
        font-size: 2.4rem;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        opacity: .7;
        padding: 10px 0px 10px 0px;
    }
    .Header .Full-Header{
        display: flex;
        justify-content: space-between;
    }
    .Header .Full-Header .Right-Header{
        /* width: 70%; */
    }
    .Header .Full-Header .Right-Header > ul{
        display: block;
        position: relative;
        top: 0;
        background-color: white;
        justify-content:space-evenly;
        box-shadow: 0 0 0 0;
    }
    .Header .Full-Header .Right-Header > ul > li{
        line-height: 70px;
        font-size: 1.1rem;
        padding: 0;
        padding-left: 1rem;
        
        display: inline-block;
        
    }
    .Header .Full-Header .Right-Header div {
          display:none;
    }
    .Header .Full-Header .Right-Header button{
        background: orange;
    border-radius: 20px;
    border: none;
    padding: .7rem 1.7rem .7rem 1.7rem;
    opacity: 1;
    margin-left: 1.2rem;
    }
    .Header .Full-Header .Right-Header > ul > li:nth-child(5) ul{
        background-color:white;
        top: 70px;
        padding: 0 40px 0 40px;
        left: -2px;
        box-shadow: 0 0 10px -6px red;
        border-radius: 7px;
    }

    .Hero .flex-hero{
        display: flex;
        flex-flow:row;
    }

    .Hero .flex-hero > div{
        width: 50%;
     }
     .Hero .flex-hero .hero-img div{
         width: 100%;
         margin:auto;
         padding-top: 120px;
     }
     .Hero .flex-hero .hero-img img{
         width: 100%;
         animation:up-down 2s ease-in-out infinite alternate-reverse both;
     }
     .Hero .flex-hero .hero-cont{
         padding-top: 70px;
         padding-bottom: 70px;
     }
     @keyframes up-down {
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-50px);
        }
     }
     .Hero .flex-hero .hero-cont h2{
        font-size: 3.6rem;
        opacity: .7;
     }
     .Hero .flex-hero .hero-cont p{
        font-size: 1.60rem;
        width: 80%;
        opacity: .4;
     }
     .about .fl-about{
        display: flex;
        justify-content: space-between;
     }
     .about .fl-about > div{
        width: 50%;
     }
     .about .fl-about .img-about{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
     }
     
     .about .fl-about .img-about img{
        width: 90%;
     }

     .service .sec-row{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .service .sec-row > div{
        width:23%;
        margin-right: 0px;
        /* margin-left: 20px; */
        border-radius: 20px;
        border-bottom: solid 3px rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    .service .sec-row > div p{
        font-size: 1.1rem;
        opacity: 1;
        color: rgb(117, 117, 117);
    }
    .service .sec-row > div:hover{
        transform: translateY(-7px);
        border-bottom: solid 3px orangered;
    }
    .portfolio .sec-title h2{
        width: 100%;
    }

    .portfolio .port-full > div{
        width:31%;
    }
    .port-first:nth-child(2){
        margin-top: 0px;
        margin-left: 20px;
    }
    .port-first:nth-child(3){
        margin-top: 0px;
        margin-left: 20px;
    }
    .tap{
        margin-left: 0;
    }
    .tap-l{
        margin-left: 20px;
    }
    .hs{
        margin-left: 20px;
    }
    .team .team-full > div{
        width: 23.5%;
        overflow: hidden;
    }
    .team .team-full > div img{
        width:100%;
        height:100%;
    }
    .team .team-full .team-s{
        margin-left: 15px;
    }
    .team .team-full .team-fo{
        margin-left: 15px;
    }
    .team .team-full .team-t{
        margin-left: 15px;
    }
    .team .team-full > div .team-cont h2{
        vertical-align: bottom;
        margin-top: 150px;
    }
    .team .team-full > div .team-ico i:hover{
        color: orangered;
        
    }
    .client .client-flex > div{
        width: 12.5%;
    }
    .client .client-flex .d5{
        display:block;
    }





    .contact .contact-flex{
        display: flex;

    }
    .contact .contact-flex > .flex-1{
        width: 39%;
    }
    .contact .contact-flex > .flex-2{
        width: 59%;
        /* box-shadow: 0 0 10px; */
        margin-left: 2%;
        margin-top: 0;
    } 
    .contact .contact-flex .flex-2 form{
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contact-flex .flex-2 form .form1{
        width: 50%;
    }
    .contact .contact-flex .flex-2 form .form1 label{
        width: 100%;
    }
    
   
    .contact .contact-flex .flex-2 form .f-input{
        width:85%;
        height: 40px;
        padding-left: 10px;
        margin-left: 10%;
    }
    .contact .contact-flex .flex-2 form .cool{
        display: flex;
    }
    .contact .contact-flex .flex-2 form .s-input{
        width: 85%;
        margin-left: 5%;
        height: 40px;
        padding-left: 10px;
    }
    .join .flex-join p{
        font-size: 1.1rem;
    }
    .join .flex-join .flex-join-2 > div{
        width: 47%;
        margin: auto;
        margin-top: 30px;
    }
    .join .flex-join{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .footer-whole{
        display:flex;
        padding-top:50px;
    }
    .footer-whole ul li i{
        color:orangered;
        opacity: .7;
    }
    .footer-whole ul li a{
        color:black;
    }
    .footer-whole > .foot1{
        width:25%;
    }
    .footer-whole > .foot2{
        width:20%;
    }
    .footer-whole > .foot3{
        width:20%;
    }
    .footer-whole > .foot4{
        width:35%;
    }
    .footer-whole > div ul li,a{
        text-decoration:none;
    }
    .footer-whole > div ul li{
        text-decoration:none;
        list-style:none;
    }
    .footer-whole .foot1 h3{
        font-size:30px;
        font-family:"sans serief";
        margin-bottom:20px;
    }
    .footer-whole .foot1 > p{
        margin-bottom:25px;
        
    }
    .footer-whole .foot2 ul li{
        margin-top:15px;
        opacity: .7;
    }
    .footer-whole .foot3 ul li{
        margin-top:15px;
        opacity: .7;
        
    }
    .footer-whole .foot4 p{
        margin:20px 0px 20px 0px;
        line-height:23px;
    }
    .footer-whole .foot4 a{
        width:35px;
        height:35px;
        line-height:35px;
        justify-content:center;
        text-align:center;
        display:flex;
        align-items:center;
        border-radius: 50%;
        
        background-color:orangered;
        margin-left:10px;
        
    }
    .footer-whole .foot4 a i{
        font-size:20px;
        color:white;
    }
    .footer-whole .foot4 > div{
        display:flex;
    }
    .footer-whole .foot1 h3{
        font-family: sans-serif;
        font-weight:600;
    }
    .footer-whole .foot2 h3{
        font-size:20px;
        font-weight:600;
    }
    .footer-whole .foot3 h3{
        font-size:20px;
        font-weight:600;
    }
    .footer-whole .foot4 h3{
        font-size:20px;
        font-weight:600;
    }
   
}



